<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Xây dựng website</title>
        <link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
	<!--Phần header : Bao gồm logo trang web -->
        <header>
			<nav>
				<div id="logo">
					Hồng Phúc <3
				</div>
				<div id="menu">
					<a>TRANG CHỦ</a>
					<a>GIỚI THIỆU</a>
					<a>TIN TỨC</a>
					<a>TIN TỨC</a>
					<a class="button">HÀNH ĐỘNG</a>
				</div>
			</nav>
			<div id="menu1">
				<h3>Tính bền vững</h3>
				<h1>BẮT ĐẦU VỚI BẠN</h1>
				<a class="button">Tìm hiểu thêm ...</a>
			</div>			
		</header>
		<section>
			<div id="gioithieu">
				<h1>Chúng tôi bảo tồn đất đai thông qua tiếp cận, phục hồi và nghiên cứu.</h1>
				<p>	Một số cảnh quan vĩ đại nhất của Trái Đất bị đe doạ bởi việc xây dựng đường tăng, thăm dò dầu khí và khai thác mỏ. Chúng tôi mong muốn bảo vệ những khu vực này khỏi sự phát triển không phù hợp, nhưng chúng tôi không thể đạt được mục tiêu của mình một mình. Lam the nao ban co the giup tim kiem.<br/><a class="button">Tìm hiểu thêm ...</a></p>
				
			</div>
			<div id="baiviet">
			<div id="anh1">
				<img src="anh1.jpg" />
				<h1>TRONG KHOẢNG</h1>
				<p>Tìm hiểu về tổ chức của chúng tôi, nhiệm vụ, phương pháp của chúng tôi và kết quả của hàng thập kỷ vận động của chúng tôi.</p>
				<a class="button">Tìm hiểu thêm ...</a>
			</div>
			<div id="anh2">
				<img src="anh2.jpg" />
				<h1>HÀNH ĐỘNG</h1>
				<p>Sẵn sàng cho bước tiếp theo chưa? Bạn có thể trở thành người đóng góp cho nguyên nhân của chúng tôi hoặc tham gia chính mình.</p>
				<a class="button">Tìm hiểu thêm ...</a>
			</div>
			</div>
		</section>
		
		<footer>
		<div id="adress">
		
		<address> Bài tập về nhà </address>
		<p> Mission complete !</p>
		</div>
		</footer>
		<script type="text/javascript" src=""></script>
   	</body>
</html> 